// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

body
  margin: 0
  padding: 0
  background: black
  width: 100%
  height: 100%
  overflow: hidden


.muteButton
  position: absolute
  right: 40px
  top: 40px
  background: yellow
  padding: 13px
  border: none
  border-radius: 10px
  transition: 0.23s background

  &:hover
    background: white

  &.muted
    background: gray